<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yabi.yabiuserandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="yabi" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <!--<activity-->
            <!--android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name=".activities.HomeActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->

        <activity
            android:name=".activities.FavouritesActivity"
            android:label="@string/drawer_saved_deals"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".provider.OffersProvider"
            android:authorities="com.yabi.user.provider"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="999e105700eb9c8403184ce88b296941fa74cbdc" />

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".listeners.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.FCMMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FCMFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.CoachActivity"
            android:label="@string/title_activity_coach"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_gpCbOQGEO4xQZmRVQ69pNgakECi9OtvR" />

        <activity android:name=".FbLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
        </activity>

        <activity android:name=".activities.WidgetPermissionPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>

        <!--android:noHistory="true"-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Services -->
        <service
            android:name=".services.widget.services.WindowChangeDetectingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"/>
        </service>


        <service
            android:enabled="true"
            android:name="com.yabi.yabiuserandroid.services.widget.services.BubbleService"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW">
        </service>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>